{%extends "admin_layout.html"%}  <!--Inherited all nav features-->
{%block content%}
                <!--Venue 1 started here-->
                <div class="outer_box">
                    Venue#1
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!-- Show 1 card here -->
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Show1</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Avengers: Civil War</h6>
                                        <button type="button" class="btn btn-outline-primary">Book Now</button>
                                    </div>
                                </div>
                                <!-- End of Show1 -->
                            </div>
                            <div class="col">
                                <!-- Show 2 card here -->
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Show2</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Beautiful Mind</h6>                                        
                                        <button type="button" class="btn btn-outline-warning">Book Now</button>
                                    </div>
                                </div>
                                <!-- End of show 2-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of venue 1 -->

                <!--Venue 2 started here-->
                <div class="outer_box">
                    Venue#2
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!-- Show 1 card here -->
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Show1</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Avengers: Civil War</h6>
                                        <button type="button" class="btn btn-outline-danger">Book Now</button>
                                    </div>
                                </div>
                                <!-- End of Show1 -->
                            </div>
                            <div class="col">
                                <!-- Show 2 card here -->
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Show2</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Beautiful Mind</h6>                                        
                                        <button type="button" class="btn btn-outline-primary">Book Now</button>
                                    </div>
                                </div>
                                <!-- End of show 2-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of venue 2 -->
                <div class="center"><button type="button" class="btn btn-primary">+Add Venue</button></div>
    {%endblock%}        